body{
    margin: 10px;
    background-color: black;
    color: white;
}

header{
    font-size: 1.5vw;
    color: white;
    padding-left: 100px;
    padding-top: 40px;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px;
    flex-wrap: wrap;
    gap: 20;
}

.hero-text{
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}

.hero-text h1{
    font-size: 4.5vw;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 1;
    color: white;
}

.hero form{
    position: relative;
    background-color: #000;
    border: 1px solid #1c1a1a;
    font-size: 1rem;
    flex: 1;
    max-width: 400px;
    height: 180px;
    margin: auto;
    margin-right: 15px;
    padding: 10px 20px;
    padding-bottom: 35px;
    padding-left: 35px;
    border-radius: 15px;
    box-shadow: 0 0px 15px #000;
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10;
}

.hero-form label{
     font-size: 18px;
     margin-bottom: 6px;
     font-weight: normal;
     position: relative;
     z-index: 2;
}

.hero-form input{
    width: 100%;
    padding: 12px 3px;
    margin-bottom: 15px; 
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #171717;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.hero-form input[type=text]:focus
.hero-form input[type=email]:focus {
    box-shadow: 0 0 10px #000;
}

.hero-form button{
    padding: 12px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s ease;
}

.hero-form button:hover{
    background-color: #ffffffe1;
}

.no-spam{
    font-size: 0.75rem;
    text-align: center;
    margin: 16px;
    margin-bottom: 16px;
    color: #939393;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 120px;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
}

.paragraphs{
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragraphs p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(147, 147, 147);
    line-height: 1.5;
}

.bottom-image{
    max-width: 100%;
    height: auto;
    display: block;
    flex: 1;
    display: flex;
    justify-content: center;
}

.bottom-image img{
   border-radius: 12px; 
}


footer{
    background-color: black;
    color: #939393;
    text-align: center;
    padding: 20px;
    margin-top: 120px;
}

