:roo{
    --section-spacing: 4rem;
}

body{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

html{
    scroll-behavior: smooth;
    font-size: clamp(14px, 1.2vw, 18px);
}

section:not(.hero){
    margin-top: var(--section-spacing);

}

nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav ul a{
    text-decoration: none;
    color: black;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero a{
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
}

.block-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-1 p{
    max-width: 80ch;
    line-height: 1.5;
}

.block-1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    gap: 2em;
}

.block-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.block-2 table{
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

tr, th, td{
    border: 2px solid black;
    padding: 5px;
    align-items: center;
}

.help-list{
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding-block: 30px;
    padding-inline: 30px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    aspect-ratio: 1;
    padding: 0;
    gap: 2em;
}

.form input{
    height: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

.form button{
    width: 80%;
    height: 60px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
}

.form label{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: .75em;
}

