body{
    background-color: black;
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250px;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
