body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 2rem;
}
header, footer {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}
caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form{
    display: inline-flex;
    align-content: space-around;
}

