body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 2rem;
}
header, footer {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}
caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
}

.form-name{
  text-align: center;
}

#nombre{
    display: flex;
    margin: 16px;
    padding: auto;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

#correo{
    display: flex;
    margin: 16px;
    padding: auto;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

#telefono{
    display: flex;
    margin: 16px;
    padding: auto;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

#mensaje{
    display: flex;
    margin: 16px;
    padding: auto;
    width: 250px;
    height: 80px;
    border: 1px solid black;
    border-radius: 20px;
}