body{
    background-color:blue;
    margin: 8px;
    padding: 16px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: white;
    margin: 24px;
}
p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white; 
}

button{
    margin: 12px;
    padding: 6px;
    background-color: black;
    color: white;
    align-content: center;
}